@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');
.nav-title {
  padding: 20px;
  color: rgb(171, 5, 212);
  font-size: 25px;
  font-family: 'Libre Baskerville', sans-serif;
  border-radius: 50px;
  /* background: linear-gradient(145deg, #43418a, #4f4da4); */
  box-shadow: 20px 20px 60px #90909969, -20px -20px 60px #9998a844;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}